body {
	margin: 50px;
}

header {
	text-align: center;
}

header ul li {
	display: inline-block;
}

footer ul {
	text-align: center;
}

footer ul li {
	display: inline-block;
}

h1 {
	font-family: helvetica, arial, sans-serif;
}	

hr {
    height: 5px;
	background-color: #FFCC00;
	border-style: none;
	}

img {
	float: right;
	height: 250px;
	border-radius: 50%;
}

section {
	margin: 40px;
}

section hr {
	height: 2px
}
